server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: localhost
  client:
    # Un servidor Eureka no debe registrarse a sí mismo
    register-with-eureka: false
    fetch-registry: false
    service-url:
      # La URL a la que los **clientes** apuntarán
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

# Opcional: Actuator mínimo
management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: never
